{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="row" style="display: inline-block;" >
    <div class="tile_count">
        <div class="col-md-3 col-sm-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Utilisateurs</span>
        <div class="count">{{ admin }}</div>
        <span class="count_bottom"><i class="green"></i> Système</span>
        </div>
        <div class="col-md-3 col-sm-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Client</span>
        <div class="count">{{client}}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i> </span>
        </div>
        <div class="col-md-3 col-sm-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-folder"></i> Total Projet</span>
        <div class="count green">{{affaire}}</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>12% </i> En cours</span>
        </div>
        <div class="col-md-3 col-sm-4  tile_stats_count">
        <span class="count_top"><i class="fa fa-list"></i>Rapports</span>
        <div class="count">{{nombre}}</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i></i></span>
        </div>
    </div> 
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
    <div class="dashboard_graph">

        <div class="row x_title">
        <div class="col-md-6">
            <h3>Evolution de nos activités<small></small></h3>
        </div>
        <div class="col-md-6">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
            </div>
        </div>
        </div>

        <div class="col-md-9 col-sm-9 ">
        <div id="chart_plot_01" class="demo-placeholder"></div>
        </div>
        <div class="col-md-3 col-sm-3  bg-white">
        <div class="x_title">
            <h2>Situation des projets</h2>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-12 col-sm-12 ">
            <div>
            <p>Début</p>
            <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="15"></div>
                </div>
            </div>
            </div>
            <div>
            <p>En cours</p>
            <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="35"></div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <div>
            <p>Terminer</p>
            <div class="">
                <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="clearfix"></div>
    </div>
    </div>

</div>
{% endblock %}
