{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Nouvelle affaire</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    {{ include('affaire/_form.html.twig') }}
</div>
{% endblock %}
