{% extends 'base.html.twig' %}

{% block title %}Edit Intervention{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Gestion Intervention</h3>
        </div>
    </div>
    <div class="clearfix"></div>
        {{ include('metrologies/intervention/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
</div>
{% endblock %}
 