{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h4>Contrôle visuel et recensement</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_mecanique',{'id' : accessoireSupplementaire.controleVisuelMecanique.parametre.id})}}"
                            class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="item form-group">
                                <table class="table table-bordered">
                                    <tr class="table-secondary">
                                        <th colspan="4" class="text-center">Accessoire supplémentaire à la réception
                                        </th>
                                    </tr>
                                    {{ form_start(form) }}
                                        <tr>
                                            <td class="table-secondary" width="20%">Accessoires complémentaires</td>
                                            <td colspan="2">{{form_widget(form.libelle)}}</td>
                                            <td width="300" class="text-center"><button type="submit" name="bouton1"
                                                    value="ajouter" class="btn btn-primary btn-sm">Modifier</button></td>
                                        </tr>
                                    {{ form_end(form) }}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}