{% extends 'base.html.twig' %}

{% block title %}New ServiceResponsable{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Gestion des Appareilles</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    {{ include('metrologies/service_responsable/_form.html.twig') }}
</div>
{% endblock %}
