{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Gestion des machines</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        {{ include('machine/_form.html.twig', {'button_label' :  'Modifier'}) }}
    </div>
{% endblock %}
