{% extends 'base.html.twig' %}

{% block title %}Edit AffaireMetrologie{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Gestion des Services Responsables</h3>
        </div>
    </div>
    <div class="clearfix"></div>
        {{ include('metrologies/affaire_metrologie/_form.html.twig', {'button_label': 'Modifier'}) }}
 </div>
{% endblock %}
