{% block title %}{% endblock %}
{% block body %}
<div class="container">
    <h2>Bonjour  {{ cpd }} !</h2>
    <h3>{{message}}</h3>
    <h3 style="font-style: italic;">{{ num_affaire }}</h3>
    <hr>
    <h3>Date de validation {{ "now"|date("m/d/Y")}}</h3>
</div>
{% endblock %}
